/*-------------------------------------
Setup
-------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix{zoom: 1}
.clearfix:after {
    content:'.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

body {
  max-width: 980px;
  margin: auto;
  background-color: #FFFAF1;
}

ul {
  list-style: none;
}

/* ------------ fonts ------------- */

body {
  font-family: Georgia, serif;
  line-height: 1.7em;
  color: #332E24;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1,h2,h3 {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 300;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}


/* ------------ buttons ------------- */

a {
  color: #332E24;
  text-decoration: none;
}

.btn:link,
.btn:visited {
  display: block;
  width: 180px;
  height: 50px;
  padding: 13px 0;
  margin: 20px 0;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  transition: box-shadow 500ms;
}

.btn:hover,
.btn:active {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}

.btn-brown:link,
.btn-brown:visited {
  background: #9E8E6F;
}

.btn-pink:link,
.btn-pink:visited {
  background: #8B0A5B;
}

.btn-green:link,
.btn-green:visited {
  background: #6A8025;
}

/*-------------------------------------
Uvod
-------------------------------------*/

#uvod {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 406px;
}

#uvod-small {
  background-image: url("../images/header-small.jpg");
  background-size: cover;
  height: 222px;
}

.title {
  padding: 100px 50px 0 0;
  float: right;
  text-align: justify;
}

.title p {
  max-width: 410px;
  font-size: 18px;
}

.title-small {
  display: block;
  float: right;
  padding: 50px 30px 0 0;
}


/* ------------ nav ------------- */

nav {
  display: block;
  overflow: auto;
  margin-top: -7px;
  background: linear-gradient(#FFFAF1, #CCB88F);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  max-width: 980px;
}

.nav-menu {
  z-index: 10;
}

.logo {
  margin-top: 1px;
  display: block;
  float: left;
  padding: 14px;
  background: linear-gradient(#F9F2E5, #B19F7C);
  width: 30%;
}

.nav-menu ul {
  float: right;
  width: 70%;
}

.nav-menu ul li {
  display: inline-block;
  margin: 0 -2px;
}

nav ul a:link,
nav ul a:visited {
  display: block;
  padding: 32px 24px 24px 24px;
}

nav ul a:last-child {
  padding-right: 29.9px;
}

nav ul a:hover,
nav ul a:active {
  background: linear-gradient(#F9F2E5, #B19F7C);
  transition: background 0.8s ease;
}

nav ul a.active {
  background: linear-gradient(#F9F2E5, #B19F7C);
}

.nav-cambridge:hover,
.nav-cambridge:active,
.nav-cambridge.active {
  background: linear-gradient(#F9F2E5, #9A5677);
}

.nav-metabolic:hover,
.nav-metabolic:active,
.nav-metabolic.active {
  background: linear-gradient(#F9F2E5, #6A8025);
}


/* ------------ programy ------------- */

.programy {
  margin-top: 90px;
  text-align: justify;
}

.programy div {
  position: relative;
  margin: 2.5%;
  width: 45%;
  height: 600px;
  float: left;
  background-color: white;
  padding: 35px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.programy div:last-child {
  background-color: #FFFAF1;
  box-shadow: 3px 3px 8px rgba(0,0,0,0);
}

.programy img {
  display: block;
  margin: 0 auto;
  width: 380px;
}

.programy p {
  padding-bottom: 20px;
}

.programy .btn {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.programy span {
  font-weight: bold;
}

.pro-cambridge p:first-of-type,
.pro-metabolic p:first-of-type,
.pro-trichologie p:first-of-type {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 30px;
  color: #6A8025;
}

.pro-cambridge p:first-of-type {
  color: #8B0A5B
}

.pro-trichologie h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #6A8025;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 60px;
}

.pro-zkusenosti h2 {
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.pro-zkusenosti p {
  padding: 32px 15px;
  font-size: 18px;
  text-align: center;
}


/* ------------ footer ------------- */

footer {
  background: linear-gradient(#CCB88F, #9E8E6F);
  box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
  overflow: hidden;
  margin-top: 20px;
  clear: both;
}

.nav-sec {
  width: 60%;
}

.nav-sec ul {
  display: block;
  float: left;
  padding: 40px 0px 40px 70px;
}

.nav-sec li:first-child {
  padding-bottom: 10px;
  font-weight: bold;
}

.facebook {
  width: 40%;
  float: right;
  margin-top: 40px;
  overflow: visible;
}

.copy {
  width: 100%;
  display: inline-block;
  margin: 60px auto 50px auto;
  text-align: center;
}


/*-------------------------------------
Cambridge diet
-------------------------------------*/

.cambridge-diet {
  background-color: white;
  z-index: 2;
}

.wraper {
  width: 650px;
  margin: 80px auto 0 auto;
}

/*
.nav-local-cam {
  position: fixed;
  margin: 20px 0 0 760px;
  background-color: #FFFAF1;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}

.nav-local-cam img {
  width: 200px;
}

.nav-local-cam a {
  display: block;
  text-align: center;
}
*/

/* ------------ cambridge benefits ------------- */

.cambridge-diet h1 {
  padding-top: 70px;
  margin: 0px 0 40px 0;
  color: #8B0A5B;
}

.cam-benefits li{
  display: inline-block;
  padding: 0 0 20px 0;
  font-size: 16px;
}

.cam-benefits img {
  margin-right: 10px;
  vertical-align: middle;
  width: 30px;
  display: inline-block;
}

/* ------------ cambridge popis ------------- */

.cambridge-diet h2 {
  margin: 60px 0 30px;
  color: #8B0A5B;
}

.cambridge-popis p {
  margin-bottom: 20px;
}

.cambridge-popis p:last-child {
  margin-bottom: 70px;
}

.cambridge-produkty {
  display: block;
  width: 80%;
  margin: auto;
}

.produkty-vypis {
  text-align: center;
  color: #9A5677;
  padding-top: 20px
}

/* ------------ cambridge-plany ------------- */

.cam-plany {
  padding: 20px 0;
}

.cambridge-plany {
  margin: 30px 0;
}

.cambridge-plany li {
  width: 48%;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.cambridge-plany li:last-child {
  width: 48%;
  display: inline-block;
  margin-left: 25%;
}

.cambridge-plany li p {
  display: inline-block;
  width: 215px
}

.cambridge-plany img {
  width: 60px;
  margin: 0 20px 25px 0;
  vertical-align: middle;

}

/* ------------ cambridge-poradenstvi ------------- */

.cambridge-poradenstvi {
  background-image: url("../images/foto-cambridge.jpg");
  background-size: cover;
  overflow: auto;
  margin-bottom: -20px;
}

.cambridge-poradenstvi-box {
  width: 39%;
  float: right;
  background-color: rgba(255,255,240,0.9);
  margin: 40px;
  padding: 30px;
  border-radius: 5px;
}

.cambridge-poradenstvi-box h2 {
  margin-top: 20px;
  text-align: center;
}

.cambridge-poradenstvi-box p {
  padding-bottom: 20px;
}

.cambridge-poradenstvi-box strong {
  color: #8B0A5B;
}

.cambridge-poradenstvi-box .btn {
  margin: 15px auto;
}

/* ------------ cambridge-pribehy ------------- */

.pribehy {
  width: 750px;
  margin: 80px auto -20px auto;
  padding-bottom: 100px;
}

.pribehy strong,
.pribehy a {
  font-weight: bold;
  color: #8B0A5B;
}

.pribeh {
  margin: 40px 0;
}

.pribeh-fotky {
  float: left;
  margin-right: 30px;
}

.pribeh-text {
  padding: 5px 0;
}

.pribeh-text h3 {
  padding-bottom: 15px;
}

.pribeh-text p:nth-child(3) {
  padding-bottom: 15px;
}

.pribeh a {
  display: inline-block;
  margin: 5px 0;
}

/* ------------ cambridge-modal ------------- */

.modalDialog {
	position: fixed;
  overflow-y: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 800px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #FFFAF1;
}

.modalDialog > div h3 {
  padding: 30px 0 15px 0;
}

.modalDialog > div p {
  padding-bottom: 15px;
}

.close {
	background: #8B0A5B;
	color: #FFFFFF !important;
	line-height: 36px;
	position: absolute;
	right: -18px;
	text-align: center;
	top: -15px;
	width: 36px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #FFFFFF;
  color: #8B0A5B !important;
}

/*-------------------------------------
Metabolic balance
-------------------------------------*/

.metabolic-balance {
  background-color: white;
  z-index: 2;
}

.wraper {
  width: 650px;
  margin: 80px auto 0 auto;
}

.metabolic-balance h1 {
  padding-top: 70px;
  margin: 0 0 40px;
  color: #6A8025;
}

.metabolic-benefity {
  margin: 30px 0 60px 0;
}

.metabolic-benefity li {
  margin: 40px 0;
}

.metabolic-benefity li p {
  display: inline-block;
  width: 80%;
}

.metabolic-benefity img {
  width: 80px;
  margin: 10px 30px 0 0;
  vertical-align: top;
}


/* ------------ metabolic popis ------------- */

.metabolic-balance h2 {
  margin: 50px 0 30px;
  color: #6A8025;
}

.metabolic-popis p {
  padding-bottom: 20px;
}


/* ------------ metabolic poradenství ------------- */

.metabolic-poradenstvi {
  background-image: url("../images/foto-metabolic.jpg");
  background-size: cover;
  overflow: auto;
  margin: 50px 0 -20px 0;
}

.metabolic-box {
  width: 35%;
  float: left;
  background-color: rgba(255,255,240,0.9);
  margin: 160px 100px;
  padding: 30px;
  border-radius: 5px;
}

.metabolic-box h2 {
  margin-top: 20px;
  text-align: center;
}

.metabolic-box .btn {
  margin: 40px auto 10px auto;
}


/*-------------------------------------
Trichologie
-------------------------------------*/

.trichologie {
  background-color: white;
  z-index: 2;
}

.trichologie-bg {
  background-image: url("../images/trichologie-bg.jpg");
}

.wraper-t {
  width: 650px;
  height: 630px;
  margin: 80px auto 0 auto;
}

.trichologie h1 {
  padding-top: 120px;
  margin: 80px 0 30px;
  color: #6A8025;
}

.trichologie h2 {
    margin: 40px 0 40px;
    color: #6A8025;
}

.trichologie p {
  padding-bottom: 40px;
  max-width: 750px;
}

.trichologie-benefits {
  padding-top: 10px;
  padding-bottom: 80px;
}

.trichologie-benefits li{
  display: inline-block;
  padding: 0 0 20px 20px;
}

.trichologie-benefits img {
  vertical-align: middle;
  margin-right: 20px;
  width: 40px;
  display: inline-block;
}

/* ------------ trichologie prubeh ------------- */

.trichologie-prubeh {
  background: white;
  padding: 50px 70px;
}

.trichologie-prubeh ul {
  display: inline-block;
  width: 45%;
}

.trichologie-prubeh ul li {
  padding: 20px 0;
}

.trichologie-prubeh ul li img {
  width: 50px;
  vertical-align: bottom;
  margin: 0 10px 10px 0;
}

.trichologie-foto {
  margin: 0px 50px 0 0;
  display: block;
  float: right;
  width: 40%;
}

.trichologie-foto img:first-child {
  margin-bottom: 10px;
}

.trich-footer {
  margin-top: 0;
}


/*-------------------------------------
O mně
-------------------------------------*/

.omne {
  padding: 0 70px;
  background-color: white;
  z-index: 2;
  margin-top: 70px;
}

.omne-text {
  width: 50%;
  float: left;
  padding-right: 20px;
}

.omne h1 {
  padding-top: 70px;
  margin: 0px 0 40px;
}

.omne h2 {
  margin: 30px 0 30px;
}

.omne p {
  padding-bottom: 20px;
}

.certifikaty {
  width: 45%;
  float: right;
  margin: 70px 0;
}

.certifikaty img {
  width: 350px;
}


/*-------------------------------------
Kontakt
-------------------------------------*/

.wraper-k {
  z-index: 2;
  margin-top: 80px;
  padding: 0 100px;
}

.kontakt-text {
  width: 40%;
  display: inline-block;
  margin-right: 30px;
}

.kontakt-text p:nth-child(3) {
  font-weight: 600;
}

.kontakt h2 {
  padding-top: 40px;
  margin: 0px 0 25px;
  font-size: 28px;
  line-height: 1.3;
}

.kontakt p {
  font-size: 16px;
  padding-bottom: 20px;
}

.facebook-timeline {
  margin: 70px 5% 0 5%;
}

.kontakt img {
  width: 460px;
  padding-top: 5px;
}

.wraper-k2 {
  margin: 50px 0 10px;
  padding-left: 20px;
  width: 50%;
  dispaly: inline-block;
  float: left;
}

.wraper-k3 {
  margin: 50px 0 10px;
  width: 50%;
  float: right;
  display: inline-block;
}

.map {
  padding-top: 5px;
}
